@import '/font/icon.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i|Playfair+Display+SC:900i');

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  border: 1px solid #ff7919;
  border-radius: 25px;
  max-width: 800px;
  width: calc(100% - 40px);
  margin: 20px auto;
}

header, #game {
  width: calc(100% - 40px);
  margin: auto;
}

header {
  height: 90px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

h1, #moves {
  text-align: center;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 2.5em;
  color: #ff7919;
}

h2, .star {
  width: 100%;
}

h2 {
  font-weight: 100;
  font-size: 1.25em;
}

.star {
  text-align: right;
  color: #ff7919;
}

#info-line {
  display: flex;
  justify-content: space-between;
}

.reset {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  background-color: #c9dbff;
}

li {
  list-style: none;
  display: inline;
  font-size: 1.5em;
}

#game {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 40px)/4);
  height: 125px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #445d8e;
  border: none;
  border-radius: 10px;
  font-size: 4em;
  color: white;
}

.selected {
  animation-name: rotate;
  animation-duration: 1000ms;
}

.correct {
  background-color: #63a855;
  animation-name: scale;
  animation-duration: 300ms;
}

.wrong {
  position: relative;
  background-color: red;
  animation-name: shake;
  animation-duration: 150ms;
  animation-iteration-count: infinite;
}

#popup {
  display: none;
}

.show {
  width: 400px;
  height: 400px;
  background-color: #ff7919;
  border-radius: 50px;
  z-index: 99;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(390px - 200px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.75em;
  margin: 20px;
}

p {
  font-weight: 300;
  font-size: 1.25em;
}

.show .star {
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 20px 0;
}

@keyframes shake {
  0% {left: 5px;}
  50% {right: -5px;}
}

@keyframes scale {
  25% {transform: scale(1.25);}
  75% {transform: scale(0.75);}
}

@keyframes rotate {
  0% {transform: rotateY(180deg);}
  50% {transform: rotateY(0deg);}
}

/* media query */
@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }

}
