@import '../font/icon.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i|Playfair+Display+SC:900i');

/* entypo */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* zocial */

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

:root {
  --blue: #709fb0;
  --blue2: #a3c5d3;
  --blue3: #2c6479;
  --white: #f9fdff;
  --black: #272828;
  --red1: #c04340;
  --red2: #e9716e;
  --green1: #58a537;
  --green2: #7ec85f;
  --card-color1: #c08340;
  --card-color2: #e9ae6e;
  --card-color3: #ffd19e;
}

body {
  background-color: var(--blue);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 800px) 1fr;
  grid-template-rows: 1fr minmax(auto, 800px) 1fr;
  grid-gap: 20px;
  overflow: hidden;
}

.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4), 0 10px 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 90px auto;
  padding: 20px;
  grid-gap: 20px;
}

header {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-rows: repeat(4, minmax(50px, 1fr)) 50px;
  grid-gap: 10px;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 2.25em;
  color: var(--blue);
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 1.25em;
  color: var(--black)
}

.star {
  color: var(--blue3);
}

#info-line {
  display: flex;
  justify-content: space-between;
}

.reset {
  grid-column: span 4;
  border-radius: 3px;
  border: none;
  font-weight: 300;
  background-image: radial-gradient(circle, var(--blue), var(--blue2));
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  color: var(--white);
  font-weight: 400;
}

.reset:focus {
  outline: none;
}

.reset:active, .card:active {
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.4);
  outline: none;
}

li {
  list-style: none;
  display: inline;
  font-size: 1.5em;
}

.card {
  box-sizing: border-box;
  background-image: linear-gradient(45deg, var(--card-color1), var(--card-color2));
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border: none;
  border-radius: 3px;
  font-size: 10vmin;
  color: var(--white);
}

.selected {
  animation-name: rotate;
  animation-duration: 1000ms;
  background-image: linear-gradient(135deg, var(--card-color3), var(--card-color2), var(--card-color1));
}

.correct {
  background-image: linear-gradient(45deg, var(--green1), var(--green2));
  animation-name: scale;
  animation-duration: 300ms;
}

.wrong {
  position: relative;
  background-image: linear-gradient(45deg, var(--red1), var(--red2));
  animation-name: shake;
  animation-duration: 150ms;
  animation-iteration-count: infinite;
}

#popup {
  display: none;
}

.show {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: auto;
  width: 80%;
  height: 50%;
  background-color: var(--blue3);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border-radius: 3px;
  z-index: 99;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 10px;
}

p {
  font-weight: 300;
  font-size: 1.1em;
}

.show .star {
  font-size: 3em;
  color: var(--white);
  text-align: center;
}

@keyframes shake {
  0% {
    left: 5px;
  }
  50% {
    right: -5px;
  }
}

@keyframes scale {
  25% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(0.75);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
}
