
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-android:before { content: '\e802'; } /* '' */
.icon-reddit:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-plancast:before { content: '\e805'; } /* '' */
.icon-pinboard:before { content: '\e806'; } /* '' */
.icon-appstore:before { content: '\e807'; } /* '' */
.icon-drupal:before { content: '\e808'; } /* '' */
.icon-evernote:before { content: '\e809'; } /* '' */